@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";
@import "./base.css";
@import "./typography.css";
@import "./spacing.css";
@import "./theme.css";

@theme {
/* Colors */
--color-gray-50: oklch(0.985 0.001 106.423);
--color-gray-100: oklch(0.97 0.001 106.424);
--color-gray-200: oklch(0.923 0.003 48.717);
--color-gray-300: oklch(0.869 0.005 56.366);
--color-gray-400: oklch(0.709 0.01 56.259);
--color-gray-500: oklch(0.553 0.013 58.071);
--color-gray-600: oklch(0.444 0.011 73.639);
--color-gray-700: oklch(0.374 0.01 67.558);
--color-gray-800: oklch(0.268 0.007 34.298);
--color-gray-900: oklch(0.216 0.006 56.043);
--color-gray-950: oklch(0.147 0.004 49.25);
--color-primary-50: oklch(0.962 0.018 272.314);
--color-primary-100: oklch(0.93 0.034 272.788);
--color-primary-200: oklch(0.87 0.065 274.039);
--color-primary-300: oklch(0.785 0.115 274.713);
--color-primary-400: oklch(0.673 0.182 276.935);
--color-primary-500: oklch(0.585 0.233 277.117);
--color-primary-600: oklch(0.511 0.262 276.966);
--color-primary-700: oklch(0.457 0.24 277.023);
--color-primary-800: oklch(0.398 0.195 277.366);
--color-primary-900: oklch(0.359 0.144 278.697);
--color-primary-950: oklch(0.257 0.09 281.288);
--color-secondary-50: oklch(0.95 0.08 340);
--color-secondary-100: oklch(0.88 0.12 340);
--color-secondary-200: oklch(0.78 0.16 340);
--color-secondary-300: oklch(0.72 0.2 340);
--color-secondary-400: oklch(0.66 0.24 340);
--color-secondary-500: oklch(0.6 0.28 340);
--color-secondary-600: oklch(0.54 0.28 340);
--color-secondary-700: oklch(0.48 0.24 340);
--color-secondary-800: oklch(0.38 0.2 340);
--color-secondary-900: oklch(0.28 0.16 340);
--color-secondary-950: oklch(0.18 0.12 340);

/* Typography */
--font-family: "Inter";
--font-fallback: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
--font-body: var(--font-family), var(--font-fallback);
--font-display: var(--font-body);
}